/* цвет основного текста: #2E2F42; */
/* вторичный цвет текста: #434455; */
/* вторичный цвет фона: background: #F4F4FD; */
/* белый: #FFFFFF; */
/* акцент: background: #4D5AE5; */
/* цвет текста в футере: #F4F4FD; */


body {
    background-color: var(--primary-white-color--);
    color: #434455;

    font-family: "Roboto",
     sans-serif;
    letter-spacing: 0.02em;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

ul {
    list-style: none;
}


/*Header*/
.header-logo {
   color: #4D5AE5; 

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    display: flex;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

span {
    color: #2E2F42;
    text-decoration: none;
}

.header .header-link {
    color: #2E2F42;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
}
.header .header-link:hover,
.header .header-link:focus {
     color: #4D5AE5;
}

.header-contact-mail {
     color: #434455;;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
}

.header-contact-phone {
    color: #434455;

    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
}


/*Section Hero*/
.hero {
    background: #2E2F42;
}

.hero-title {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.hero-button {
    background: #4D5AE5;
    color: #FFFFFF;
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
}


/* Section feature */
.feature {
    background: #E5E5E5;
}

.feature-tytle {
       color: #2E2F42;
       font-family: 'Roboto',
        sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.feature-text {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/*Section Team*/
.team {
    background: #F4F4FD;
}

.team-tytle {
    color: #2E2F42;
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list-tytle {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
}

.team-list-text {
    color: #434455;
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}


/* Section Gallery filter-list */
.filter-button-text {
    color: #4D5AE5;
    background: #F4F4FD;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    letter-spacing: 0.04em;
}
.filter-button-text:hover,
.filter-button-text:focus {
    background: #404BBF;
    color: #FFFFFF;
}

/* gallery-list */
.gallery-item-text {
    color: #434455;
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.gallery-item-title {
    color: #2E2F42;
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}


/*Footer*/
.footer {
    background: #2E2F42;
}

.footer-text {
    color: #F4F4FD;
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.logo {
    color: #F4F4FD;
    font-family: 'Raleway',
        sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
