/* цвет основного текста: #2E2F42; */
/* вторичный цвет текста: #434455; */
/* вторичный цвет фона: background: #F4F4FD; */
/* белый: #FFFFFF; */
/* акцент: background: #4D5AE5; */
/* цвет текста в футере: #F4F4FD; */

:root {
    --primary-text-color--: #434455;
    --title-text-color--: #2E2F42;
    --accent-color--: #4D5AE5;
    --primary-white-color--: #FFFFFF;
}

body {
    background-color: var(--primary-white-color--);
    color: #434455;

    font-family: "Roboto",
     sans-serif;
    letter-spacing: 0.02em;
}

ul {
    list-style: none;
}


/*Header*/
.header-logo {
   color: var(--title-text-color--); 

   font-family: "Raleway", sans-serif;

    width: 115px;
    height: 24px;
    left: 156px;
    top: 24px;
    text-decoration: none;
}

span {
    color: var(--accent-color--);
}

.header .header-link {
    color: var(--title-text-color--);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.header .header-link:hover,
.header .header-link:focus {
     color: var(--accent-color--);
}

.header-contact .header-contact-mail {
     color: var(--primary-text-color--);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}

.header-contact-phone {
    color: var(--primary-text-color--);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}


/*Section Hero*/
.hero {
    background-color: var(--title-text-color--);
}

.hero-title {
    color: var(--primary-white-color--);

    font-style: 400;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.hero-button {
    color: var(--primary-white-color--);
    background-color: #4D5AE5;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
}


/*Section Feature*/
.hidden-header {
    color: var(--title-text-color--);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.feature-tytle {
    color: var(--title-text-color--);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.feature-text {
    color: var(--primary-text-color--);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}


/*Section Team*/
.team {
    background-color: var(--primary-white-color--);
}

.team-tytle {
    color: var(--title-text-color--);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

.team-list-tytle {
    color: var(--title-text-color--);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}

.team-list-text {
    color: var(--primary-text-color--);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}


/*Section Service*/
.service-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
}

.service-btn:hover
.service-btn:focus {
    color: var(--accent-color--);
    background-color: var(--primary-white-color--);
}


/*Section Portfolio*/
.portfolio-title {
    color: var(--title-text-color--);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.portfolio-text {
    color: var(--primary-text-color--);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}


/*Footer*/
.footer {
    background-color: var(--title-text-color--);
}

.footer-logo {
    color: var(--primary-white-color--);

    font-family: "Raleway",
     sans-serif;
    text-decoration: none;
}

span {
    color: var(--accent-color--);

    font-family: "Raleway",
        sans-serif;
}

.footer-text {
    color: var(--primary-white-color--);

    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
